/* css second page. Main Section. */

.home-page {
margin: 0;
padding: 0;
}

.wrappers-these {
    position: relative;
    height: 22em;
width: 50%;
margin: 5px 5px;
}

 /*container in .home-page */ .these {
display: flex;
}

.second-th {
word-wrap: break-word;
width: 50%;
border-radius: 5px;
}

.second-th p {
    font-size: 11px;
}

.image-loader-h {
position: absolute;
border-radius: 9px;
display: none;
width: 100%;
height: 100%;
}

.image-loader-h.opacity-load {
    object-fit: cover;
}

.wrappers-these .image-th {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 9px;

transition: all .5s;
}

.image-th.light-rdc {
    opacity: 1;
    filter: brightness(50%);
}
.image-th {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(100%);

    transition: all .5s;
}

body.active .wrappers-these .image-th:hover {
    box-shadow: 0 0 12px white;
}

.wrappers-these .image-th:hover {
    transform: translateX(9px);
    transform: scale(15px);
    box-shadow: 0 0 5px black;
}

#acou-second:hover {
transform: translateX(-9px);
transform: scale(15px);
}


.main-w-ctnr {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 6px;
    border: 1.4px solid transparent;
    margin: 12px 0 0 0;

    transition: all 1s;
}

.main-w-ctnr:hover {
   /* border-color: black; */
}

.absolute-hovers {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.z-up {
    position: relative;

    transition: all .5s;
}
.z-up.upp {
    z-index: 2;
    text-shadow: 0 0 5px white;
}

.y-ux {
    position: relative;
}
.y-ux.upp {
    z-index: 2;
    text-shadow: 0 0 5px white;
}
/* Mobile Users */
@media (max-width: 640px) {

}